@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        Raamatukogu on avatud:
        <hr />
        E-R - 10.00-19.00
        L - 9- 14.30
        P - suletud
        <hr />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        Raamatukogus on Wifi mida on võimalik saada raamatukoguhoidjalt.
        Arvuteid saab kasutada mitte rohkem kui 2 tundi, ennem kui tahad arvutid hakkata kasutama pead panema ennast kirja.
        Meil on väga palju raamatuid ja meil on ka raamatuid teistest riikides mida on raske kätte saada.
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
